.box{
  padding: 20px;
  border-radius: 23px;
  background-color: #F1EFE7;
  text-align: center;
  width: 320px;
  height: 320px;
  box-shadow: 4px 8px rgba(186, 176, 174, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  color: #004A6C;
  font-size: 32px;
  margin-bottom: 24px;
}

.description{
  font-size: 23px;
  margin-bottom: 24px;
}

.link{
  background-color: #004A6C;
  border-radius: 100rem;
  padding: 10px 40px;
  color: white;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: 20px;
  box-shadow: 6px 10px rgba(186, 176, 174, 0.5);
}